/* body html {
  font-family: '"Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif';
  color: #2a2a33;
} */

html * {
  -webkit-font-smoothing: antialiased;
  font-size: 14.5px;
  color: #292A32;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  letter-spacing: 0.25px;
}

#superNavTextBuy, #superNavTextRent, #superNavTextSell, #superNavTextSell,
#superNavTextLoans, #superNavTextAgent, img#superNavLogo, #superNavTextRental,
#superNavTextAdvertise, #superNavTextSignIn, #superNavTextHelp:hover {
  cursor: pointer;
}

.superNavContainer {
  padding: 10px;
  padding-bottom: 20px;
  display: grid;
  /* grid-template-columns:
    60px 60px 60px 110px 120px 30% 10% 8% 10% 10%; */
  grid-template-columns: repeat(10, auto);
  column-gap: 30px;
  max-height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #D8D8D8;
}

#superNavTextBuy {
  grid-column: 1 / 2;
  grid-row: 1/2;
}

#superNavTextRent {
  grid-column: 2 / 3;
  grid-row: 1/2;
}

#superNavTextSell {
  grid-column: 3 / 4;
  grid-row: 1/2;
}

#superNavTextLoans {
  grid-column: 4 / 5;
  grid-row: 1/2;
}

#superNavTextAgent {
  grid-column: 5 / 6;
  grid-row: 1/2;
}

img#superNavLogo {
  grid-column: 6 / 7;
  grid-row: 1/2;
  max-width: 160px;
  margin-left: 30%;
  margin-right: 30%;
}

#superNavTextRental {
  grid-column: 7 / 8;
  grid-row: 1/2;
}

#superNavTextAdvertise {
  grid-column: 8 / 9;
  grid-row: 1/2;
}

#superNavTextSignIn {
  grid-column: 9 / 10;
  grid-row: 1/2;
}

#superNavTextHelp {
  grid-column: 10 / 11;
  grid-row: 1/2;
}


/* BUY MODAL STYLING */

.superNavBuyModal{
  width: 100%;
  z-index: 1000;
  background: white;
  display: grid;
  grid-template-columns: 140px 140px 25px 140px 140px auto;
  grid-template-rows: repeat(5, 35px);
  position: absolute;
  left: 20px;
  top: 100px;
  height: 200px;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 20px;
}

h3#modalBuyTitle1{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
  margin-top: -1px;
}

h3#modalBuyTitle2{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 4/5;
  text-align: left;
  margin-top: -1px;
}

#buyModalColOne0 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#buyModalColOne1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#buyModalColOne2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#buyModalColOne3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

#buyModalColOne4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#buyModalColOne5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#buyModalColOne6 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#buyModalColOne7 {
  grid-column: 2/3;
  grid-row: 5/6;
}

#buyModalColTwo0 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#buyModalColTwo1 {
  grid-column: 4/5;
  grid-row: 3/4;
}

#buyModalColTwo2 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#buyModalColTwo3 {
  grid-column: 4/5;
  grid-row: 5/6;
}

#buyModalColTwo4 {
  grid-column: 5/6;
  grid-row: 2/3;
}

/* Rent MODAL STYLING */

.superNavRentModal{
  width: 100%;
  z-index: 1000;
  background: white;
  display: grid;
  grid-template-columns: 190px 25px 190px 25px 190px auto;
  grid-template-rows: repeat(6, 35px);
  position: absolute;
  left: 20px;
  top: 100px;
  height: 220px;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 20px;
}

h3#modalRentTitle1{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
  margin-top: -1px;
}

h3#modalRentTitle2{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: left;
  margin-top: -1px;
}

h3#modalRentTitle3{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 5/6;
  text-align: left;
  margin-top: -1px;
}

#rentModalColOne0 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#rentModalColOne1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#rentModalColOne2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#rentModalColOne3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

#rentModalColOne4 {
  grid-column: 1/2;
  grid-row: 6/7;
}

#rentModalColTwo0 {
  grid-column: 3/4;
  grid-row: 2/3;
}

#rentModalColTwo1 {
  grid-column: 3/4;
  grid-row: 3/4;
}

#rentModalColTwo2 {
  grid-column: 3/4;
  grid-row: 4/5;
}

#rentModalColTwo3 {
  grid-column: 3/4;
  grid-row: 5/6;
}

#rentModalColThree0 {
  grid-column: 5/6;
  grid-row: 2/3;
}

#rentModalColThree1 {
  grid-column: 5/6;
  grid-row: 3/4;
}

#rentModalColThree2 {
  grid-column: 5/6;
  grid-row: 4/5;
}

#rentModalColThree3 {
  grid-column: 5/6;
  grid-row: 5/6;
}

/* SELL MODAL STYLING */

.superNavSellModal{
  width: 100%;
  z-index: 1000;
  background: white;
  display: grid;
  grid-template-columns: 190px 15px 25px 170px 140px auto;
  grid-template-rows: repeat(5, 35px);
  position: absolute;
  left: 20px;
  top: 100px;
  height: 200px;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 20px;
}

h3#modalSellTitle1{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
  margin-top: -1px;
}

h3#modalSellTitle2{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 4/5;
  text-align: left;
  margin-top: -1px;
}

#sellModalColOne0 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#sellModalColOne1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#sellModalColOne2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#sellModalColOne3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

#sellModalColOne4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#sellModalColOne5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#sellModalColOne6 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#sellModalColOne7 {
  grid-column: 2/3;
  grid-row: 5/6;
}

#sellModalColTwo0 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#sellModalColTwo1 {
  grid-column: 4/5;
  grid-row: 3/4;
}

#sellModalColTwo2 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#sellModalColTwo3 {
  grid-column: 4/5;
  grid-row: 5/6;
}

#sellModalColTwo4 {
  grid-column: 5/6;
  grid-row: 2/3;
}


/* HOME LOANS MODAL STYLING */

.superNavLoansModal{
  width: 100%;
  z-index: 1000;
  background: white;
  display: grid;
  grid-template-columns: 190px 25px 190px 25px 190px auto;
  grid-template-rows: repeat(6, 35px);
  position: absolute;
  left: 20px;
  top: 100px;
  height: 220px;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 20px;
}

h3#modalLoansTitle1{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
  margin-top: -1px;
}

h3#modalLoansTitle2{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: left;
  margin-top: -1px;
}

h3#modalLoansTitle3{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 5/6;
  text-align: left;
  margin-top: -1px;
}

#loansModalColOne0 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#loansModalColOne1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#loansModalColOne2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#loansModalColOne3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

#loansModalColOne4 {
  grid-column: 1/2;
  grid-row: 6/7;
}

#loansModalColTwo0 {
  grid-column: 3/4;
  grid-row: 2/3;
}

#loansModalColTwo1 {
  grid-column: 3/4;
  grid-row: 3/4;
}

#loansModalColTwo2 {
  grid-column: 3/4;
  grid-row: 4/5;
}

#loansModalColTwo3 {
  grid-column: 3/4;
  grid-row: 5/6;
}

#loansModalColTwo4 {
  grid-column: 3/4;
  grid-row: 6/7;
}

#loansModalColThree0 {
  grid-column: 5/6;
  grid-row: 2/3;
}

#loansModalColThree1 {
  grid-column: 5/6;
  grid-row: 3/4;
}

#loansModalColThree2 {
  grid-column: 5/6;
  grid-row: 4/5;
}

#loansModalColThree3 {
  grid-column: 5/6;
  grid-row: 5/6;
}

#loansModalColThree4 {
  grid-column: 5/6;
  grid-row: 6/7;
}



/* AGENT MODAL STYLING */

.superNavAgentModal{
  width: 100%;
  z-index: 1000;
  background: white;
  display: grid;
  grid-template-columns: 140px 190px 25px 210px 190px auto;
  grid-template-rows: repeat(5, 35px);
  position: absolute;
  left: 20px;
  top: 100px;
  height: 200px;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 20px;
}

h3#modalAgentTitle1{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
  margin-top: -1px;
}

h3#modalAgentTitle2{
  color: black;
  font-weight: bold;
  font-size: 15px;
  grid-row: 1/2;
  grid-column: 4/5;
  text-align: left;
  margin-top: -1px;
}

#agentModalColOne0 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#agentModalColOne1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#agentModalColOne2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#agentModalColOne3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

#agentModalColOne4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#agentModalColOne5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#agentModalColOne6 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#agentModalColOne7 {
  grid-column: 2/3;
  grid-row: 5/6;
}

#agentModalColTwo0 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#agentModalColTwo1 {
  grid-column: 4/5;
  grid-row: 3/4;
}

#agentModalColTwo2 {
  grid-column: 4/5;
  grid-row: 4/5;
}

#agentModalColTwo3 {
  grid-column: 4/5;
  grid-row: 5/6;
}

#agentModalColTwo4 {
  grid-column: 5/6;
  grid-row: 2/3;
}

#agentModalColTwo5 {
  grid-column: 5/6;
  grid-row: 3/4;
}


/* GENERIC STYLING */

.modalText{
  padding: 5px 0px 5px;
  color: #006AFF;
}

.modalText:hover{
  color: #8db8f4;
  cursor: pointer;
}

.divider {
  border-left: 1px solid #D8D8D8;
  min-height: 200px;
  max-height: 225px;
  margin-top: -10px;
  margin-right: -10px;
}

.rentDivider {
  border-left: 1px solid #D8D8D8;
  min-height: 200px;
  max-height: 225px;
  margin-top: -10px;
  margin-right: -10px;
  position: absolute;
  left: 170px;
  top: 20px;
}

.loansDivider1 {
  border-left: 1px solid #D8D8D8;
  min-height: 220px;
  max-height: 225px;
  margin-top: -10px;
  margin-right: -10px;
  position: absolute;
  left: 170px;
  top: 20px;
}

.loansDivider2 {
  border-left: 1px solid #D8D8D8;
  min-height: 220px;
  max-height: 225px;
  margin-top: -10px;
  margin-right: -10px;
}